<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838684864849-pdbmrq8in8fr493m6u1k7togiiree86n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838684864849-pdbmrq8in8fr493m6u1k7togiiree86n</string>
	<key>API_KEY</key>
	<string>AIzaSyBXdlvK3H2be_Z9rG2louef-xsBtb8qMvU</string>
	<key>GCM_SENDER_ID</key>
	<string>838684864849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dulithadabare.dosomething</string>
	<key>PROJECT_ID</key>
	<string>dosomething-901eb</string>
	<key>STORAGE_BUCKET</key>
	<string>dosomething-901eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838684864849:ios:bce75c6097a46b18082370</string>
</dict>
</plist>